.intro {
    background: url(../../_img/Intro/intro_photo.jpg) ;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.greeting {
    width: 200px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);


}

.greeting__logo {
    display: block;
    margin-bottom: 35px;
}

.greeting__batton {
    background-color: #f89513;
    width: 172px;
    height: 45px;
    z-index: 4;
    border-radius: 3px;
           font-size: 12px;
           font-family: "open_sansbold";
           color: #ffffff;
        text-transform: uppercase;
        display: block;
        text-align: center;
        line-height: 50px;
text-decoration: none;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
transition: .5s;
}

.intro:before {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
    left:0;
    top:0
    -webkit-transition: .5s;
    transition: .5s;


}

.greeting__batton:hover {
    background-color: #131415;
}

