.nav {
    list-style: none;
    padding: 0;
    margin-top: 43px;
    }

.nav__item {
    margin-bottom: 29px;
    margin-left: -9px;
  }

  .nav__link {
    text-decoration: none;
   
  }

  .nav__text {
    color: #f89513;
    font-size: 14px;
    font-family: "open_sansbold";
    display: inline-block;
    vertical-align: middle;
    padding-left: 9px;
    transition: .5s;
}

  .nav__link_active {
    color: #221f1f;
    text-decoration: none;
  }


.nav__icon {
    width: 28px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  .nav__icon_services {
    background: url('../../_img/icon/service_icon.png') center center no-repeat;
  }

  .nav__icon_main {
    background: url('../../_img/icon/main_icon.png') center center no-repeat;
    
  }

  .nav__icon_feed {
    background: url('../../_img/icon/feed_icon.png') center center no-repeat;
    
  }
  
  .nav__link:hover .nav__text {
    color: #221f1f;
  }
  
  .nav__link:hover .nav__icon_services {
    background-image: url('../../_img/icon/service_icon-hover.png');
  }

  .nav__link:hover .nav__icon_main {
    background-image: url('../../_img/icon/main_icon-hover.png');
  }

  .nav__link:hover .nav__icon_feed {
    background-image: url('../../_img/icon/feed_icon-hover.png');
  }

  .nav__icon_services_active  {
    background-image: url('../../_img/icon/service_icon-hover.png');
  }

  .nav__icon_main_active  {
    background-image: url('../../_img/icon/main_icon-hover.png');
  }

  .nav__icon_feed_active {
    background-image: url('../../_img/icon/feed_icon-hover.png');
  }


  .nav__text_active {

    color: #221f1f;
  }